.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}
.section1 {
    padding: 20px;
    background-color: white;
    border-radius: var(--principal-border-radius);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.section1 > * {
    flex: 1;
}
.containerThumb {
    position: relative;
}
.containerCheckbox {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.checkboxFilter {
    pointer-events: none;
}
.containerFilters {
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchBar {
    width: 450px;
}