.video {
    /* max-width: 1000px; */
    max-height: 77vh;
}
.containerLoader {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1050px){
    .video {
        min-width: 100%;
        max-width: 100%;
    }
}
