.wrapper {
    padding: 3px;
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.200);
}
.list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.containerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
    height: 100%;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
}
.icon {
    font-size: var(--icon-size);
}
.containerUser {
    background-color: var(--principal-color);
}