.wrapper {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: white;
    padding: var(--padding);
    border-radius: var(--principal-border-radius);
    gap: 10px;
    max-width: 380px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.10);
    z-index: 1;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.wrapperShow {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
.containerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--principal-border-radius);
    width: 2.5em;
    height: 2.5em;
    flex-shrink: 0;
}
.icon {
    width: 2em;
    height: 2em;
}
.containerMessage {

}
.containerHeader {
}
.title {
    font-size: 1rem;
}
.containerClose {
}
.closeIcon {
    cursor: pointer;
}
.containerBody {

}
.description {
    font-size: 0.9rem;
    font-weight: 300;
    word-break: break-word;
    color: var(--black-color-light);
}
.successContainer {
    background-color: rgba(0, 128, 0, 0.180);
}
.errorContainer {
    background-color: rgba(255, 0, 0, 0.180);
}
.success {
    fill: green;
}
.error {
    fill: red;
}

.containerIcon, .title, .description {
    user-select: none;
}