@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.containerHeaderIcon {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    flex-shrink: 0;
}
.headerIcon {
    width: 2rem;
    height: 2rem;
}
.body {
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.label {
    font-weight: 450;
    font-size: 0.9rem;
}
.itemContainerBody {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
}
.error {
    outline: 2px solid red;
    animation: shake 0.4s ease-in-out;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.button {
    font-size: 0.9rem;
}
.header :global(.react-colorful) {
    height: 100px;
    width: 100%;
}