.wrapper {
    background-color: white;
    border-radius: var(--principal-border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    max-width: 100%;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.title {
    font-size: 1.2rem;
    font-weight: 400;
}