.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 7px;
    border-radius: var(--principal-border-radius);
    user-select: none;
    transition: 0.3s;
    border: 2px solid transparent;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.10);
}
.input {
    color: var(--black-color-light);
    font-size: 1rem;
    outline: none;
    min-width: 65px;
    width: 100%;
    max-width: 100%;
}
.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--black-color-light);
    flex-shrink: 0;
}