@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --principal-color: #ff5100;
    --principal-color-lightest: #ff7f32; 
    --principal-color-light: #ff5f00; 
    --principal-color-dark: #ff4d00;  
    --second-color:rgb(253, 178, 47);
    --principal-background-color: #b469ff10;
    --black-color: rgb(25, 25, 25);
    --black-color-light: rgb(101, 101, 101);
    --principal-border-radius: 10px;
    --padding: 1.25rem;
    --icon-size: 1.58rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--black-color);
}
html, body {
    font-size: 16px;
    height: 100vh;
}
@media (max-width: 1460px){
    html, body {
        font-size: 14px;
    }
}