.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: absolute;
    background-color: white;
    top: calc(100% + 5px);
    right: 0;
    border-radius: var(--principal-border-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.10);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
}
.containerShow {
    transform: scaleY(100%);
    opacity: 1;
}
.bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 20px;
}
.button {
    font-size: 0.8rem;
}